@font-face {
    font-family: 'Lato-SemiBold';
    src: url(@/assets/fonts/Lato-SemiBold.ttf) format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Inter-Regular';
    src: url(@/assets/fonts/Inter-Regular.otf) format('opentype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Inter-Extra-Bold';
    src: url(@/assets/fonts/inter-extra-bold.otf) format('opentype');
    font-style: normal;
    font-weight: normal;
}